.CartWidgetContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    fill: #cccccc;
    width: 100%;
    height: auto;
}

.CartWidgetBadge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    position:absolute;
    top: 12px;
}