.navbar {
    background-color: black !important;
    width: 100%;
    align-items: center;
    justify-content: center;
}

a {
    color: #000000;
    text-decoration: none;
}

.me-auto, .navbar-nav {
    align-items: center;
    justify-content: center;
    gap: 10px;

}
