.itemDetailCountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    text-align: center;
    align-content: center;
}

.itemCountBtnQuantityContainer {
   width: 100%;
}

.itemCountBtnQuantity {
    font-size: 14px;
    color: #cccccc;
}

.itemCountDetailBtnAddOn {
    width: 100%;
}

.inputContinueContainer {
    display: flex; 
    gap: 5px;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
}

.linkBtnContainer {
    width: 100%;
}

.btnComprando {
    width: 100%;
} 

.btnToBag {
    width: 100%; 
} 