.itemListDetailContainer {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 43%;
    text-align: center;
}

.greeting {
    padding-bottom: 50px;
}

.ItemsDetailContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 100px;
}