.itemDetailContainerOut {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
}

.ItemsDetailContainerIn {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    align-content: center;
    justify-content: center;
    padding-bottom: 100px;
    width: 90%;
    gap: 20px;
}