.itemListContainer {
    color: #ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    text-align: center;
}