.itemListContainer {
color: #ffff;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
gap: 10px;
width: 100%;
text-align: center;
}

.greeting {
    padding-bottom: 100px;
}

.ItemsContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}