.ItemContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width:auto;
    gap: 5px;
    padding-bottom: 40px; 
}


.itemTitle {
    font-size: 14px;
    color: #cccccc;
}

.itemImgContainer {
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 1px;
    background-color: #cccccc;
}

.itemPrice {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #cccccc;
    padding: 5px;
}

.linkContainer {
    width: 100%;
}

.btntoDetails {
    font-size: 14px;
    width: 100% ;
    align-items: center;
    text-align: center;
    color: #cccccc;
}

