.itemTitle {
    font-size: 14px;
    color: #cccccc;
}

.itemImgContainer {
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 1px;
    background-color: #cccccc;
}

.itemPrice {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #cccccc;
    padding-top: 5px;
}