.bagPageContainer {
    color: #cccccc;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    justify-content: center;
    padding-bottom: 100px;
}

.inBagContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.bagListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 5px;
    padding: 10px;
}


.buyControlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
    border-style:solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.btnClearBag {
    width: 100%;
    height: 5%;
    font-size: 10px;
    margin-bottom: auto;
}

.sumsContainer {
display: flex;
flex-direction: column;
height: 20%;
}


.subtotalSum {
    width: 100%;
    font-size: 18px;
    padding-top: 20px;
}

.totalProductos {
    font-size: 12px;
}

.btnToCheckout {
    width: 100%;
    height: 10%;
    font-size: 10px;
}