.itemDetailContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    min-height: 400px;
    padding: 10px;
}

.itemDetailCategory {
    width: auto;
    font-size: 16px;
    color: #cccccc;
    text-decoration: underline;
}

.itemDetailImgContainer {
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 60%;
    height: auto;
    border-radius: 5px;
    padding: 1px;
    background-color: #cccccc;
}

.itemDetailImgContainer img {
    width: 100%;
}

.itemDetailContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 5px;
    width: 40%;
    min-height: 400px;
    padding: 10px;
}

.itemDetailTitle {
    font-size: 16px;
    color: #cccccc;
}

.itemDetailPrice {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #cccccc;
    padding-top: 5px;
}

.itemDetailDescription {
    width: auto;
    height: auto;
    font-size: 16px;
    color: #cccccc;
    padding-top: 5px;
}

.itemDetailContainer3 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 30%;
    min-height: 400px;
}

.itemCounterDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.itemDetailStock {
    font-size: 16px;
    color: #cccccc;
}

.itemDetailRecomendation {
    gap: 20px;
    padding-bottom: 50px;
}

.itemDetailTextRecomendation {
    font-size: 16px;
    color: #cccccc;
}