.ItemContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: top;
    text-align: center;
    gap: 5px;
    width: 100%; 
    height: 100%;
    top: 0px;  
}

.itemCategory {
    height: 100%;
    font-size: 12px;
    color: #cccccc;
    text-decoration: underline;
}

.itemImgContainer {
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 1px;
    background-color: #cccccc;
}

.ItemDetailContainer {
    border-style:solid;
    border-width: 2px;
    border-color: #cccccc;
    height: 100%;
    border-radius: 5px;
    padding: 1px;
}

.itemTitle {
    font-size: 14px;
    color: #cccccc;
}

.itemStock {
    font-size: 12px;
    color: #cccccc;
}

.itemPrice {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #cccccc;
    padding-top: 5px;
}

.itemDescription {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #cccccc;
    padding-top: 5px;
}